In [ ]:


for char in range(1,11):
  print(char)

1
2
3
4
5
6
7
8
9
10

In [ ]:
number=20
while number >=1:
  print(number)
  number-=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for num in range(1,11):
  if num%2==0:
    print(num)

2
4
6
8
10

In [ ]:
n=int(input("Enter a number (n)"))
for number in range(1,n+1):
  print(number)

Enter a number (n)10
1
2
3
4
5
6
7
8
9
10

In [ ]:
first_term=3
common_difference=4
for char in range(8):
  term=first_term+char*common_difference
  print(term)

3
7
11
15
19
23
27
31

In [11]:
for char in range(5):
  print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

In [13]:
n=int(input("Enter a number (n)"))
for num in range(1,n+1):
  Number=num**2
  print(Number)

Enter a number (n)15
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225